@using Microsoft.AspNetCore.Identity
@using Reddit.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <div id="menu">
                <a href="/user/@UserManager.GetUserName(User)">@UserManager.GetUserName(User)</a>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Settings</a>
                <button type="submit" class="">Log off</button>
        </div>
    </form>
}
else
{
    <div id="menu">
        <a asp-controller="Account" asp-action="Register">Register</a>
        <a asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}
