body {
    padding-bottom: 20px;
    margin: 0;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-color: 	#F5F5F5;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    grid-area: main;
    display: grid;
    grid-template-areas:
        "links sidebar";
    min-height: calc(100vh - 86px);
}

.links {
    grid-area: links;
    width: calc(100vw - 320px);
    padding: 15px;
    margin-left: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    display: table;
    background-color: white;
    
}

#topbar {
    height: 36px;
    grid-area: header;
    background-color: #cee3f8;
    z-index:1;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    margin-left: 30px;
    width: 180px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    min-height: 100px;
    display: table;
    padding-top: 15px;
    padding-bottom: 20px;
}

.sidebar-links {
    padding: 0;
    
}

.sidebar-links li {
    background-color: #cee3f8;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 120px;
    border-radius: 25px;
    text-align: center;
    list-style-type: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar-links li a {
    color: #369;
}

.subreddit-tools li a {
    color: #369;
}

.header {
    float: left;
    font-size: 18px;
    padding: 10px 0px;
}

.header a {
    color: black;
    font-size: larger;
    text-decoration: none !important;
}

#menu {
    padding: 10px 0px;
    text-align: right;
}

#menu a, #menu button {
    margin: 0 5px;
    color: #369;
}

#menu button {
    border:none !important;
    font: inherit;
    padding: 0 !important;
    cursor: pointer;
    outline: none;
    background: transparent;
}

#menu button:hover {
    text-decoration: underline;
}

a:visited, a:link, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 0 20px;
}

.upvote::after {
    content: "▲";
}

.downvote::after {
    content: "▼";
}

.upvote-btn a {
    color: slategray;
}

.body-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    margin: 0;
    display: flex;
}

.body-content ul a {
    font-size: medium;
    text-decoration: none;
}

.post {
    display: flex;
}

.post .content {
    margin-left: 10px;
}

.post .content .sub .creator {
    color: #369;
}

.count {
    padding-top: 18px;
    width: 16px;
    text-align: right;
    color: slategray;
}

.sub a, .sub-2 a {
    margin-right: 5px;
}

.hidden {
    display: none !important;
}

.upvote-btn {
    margin-left: 10px;
    text-align: center;
    color: slategray;
}

.comment.collapsed .upvote-btn {
    visibility: hidden;
    height: 20px;
}
.comment.collapsed .sub,
.comment.collapsed .text,
.comment.collapsed .content .comment,
.comment.comment.collapsed .content>a {
    display: none;
}

.comment .upvote-btn {
    margin-top: 5px;
    margin-left: 0;
}

.upvote, .downvote {
    margin-left: 5px;
}

.upvote {
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 15px;
    cursor: pointer;
} 

.vote-score {
    margin-left: 5px;
}

.downvote {
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 15px;
    cursor: pointer;
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-areas: "upvote content";
    grid-template-columns: 30px auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.comment .author {
    font-weight: bold;
    margin-right: 0.5em;
    color: #369;
}

.comment .date {
    color: grey;
}

.comment .author,
.comment .score,
.comment .date {
    margin-right: 0.5em;
    font-size: small;
}

.comment-input {
    width: 500px;
}

textarea.comment-input {
    height: 100px;
}


.post .content .sub-2,
.post .content .sub-2 a {
    color: slategray;
    font-weight: bold;
    font-size: small;
}

.post .content .sub,
.post .content .sub a,
.comment .sub * {
    color: slategray;
    font-size: small;
}

a:hover {
    text-decoration: underline !important;
}

.header a:hover {
    text-decoration: none !important;
}

.navbar-brand {
    margin-left: 50px;
}
