body {
    padding-bottom: 20px;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#topbar {
    background: #d3d3d3;
    height: 40px;
}

.header {
    float: left;
    font-size: 18px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topbar .navbar li {
    float: right;
    margin: 0 8px;
}

.container {
    padding: 10px;
}
