@{ ViewData["Title"] = "Home Page"; }

@model IEnumerable<Post>

    <ul>
        @{int i = 1;} @foreach (var post in Model) {
        <li>
            <div class="count">@i</div>
            @Html.Partial("_PostPartial", post)
        </li>
        i++; }
    </ul>