@{ ViewData["Title"] = "Home Page"; }

@model IEnumerable<Post>

    <ul>
        @{int i = 1;} @foreach (var item in Model) {
        <li>
            <div class="count">@i</div>
            <div class="upvote-btn"><span class="upvote"></span>
                <div>@item.Score</div><span class="downvote"></span></div>
            <post post="@item"></post>
        </li>
        i++; }
    </ul>