@{ ViewData["Title"] = "Submit Link"; }

<form action="javascript:void(0)" onsubmit="submit_link(this)">
  Link<br>
  <input type="text" id="Link" name="Link" value="" /><br><br>
  Title<br>
  <input type="text" id="Title" name="Title" value="" /><br><br>
  Url to image<br>
  <input type="text" id="UrlToImage" name="UrlToImage" value="" /><br><br>
  Subreddit<br>
  <input type="text" id="Subreddit" name="Subreddit" value="" /><br>
  <label style="display:none" id="errorMessage"></label><br>
  <input type="submit" class="button" value="Submit">
</form>
