@{ ViewData["Title"] = "Submit Link"; }

<form action="/" onsubmit="post_form(this, '/api/post')">
  Link<br>
  <input type="text" id="Link" name="Link" value="" /><br><br>
  Title<br>
  <input type="text" id="Title" name="Title" value="" /><br><br>
  <input type="submit" class="button" value="Submit">
</form>
