@{ ViewData["Title"] = "Submit Link"; }

<form action="/" onsubmit="post_form(this, '/api/post')">
  <label for="Link">Link</label>
  <input type="text" id="Link" name="Link" value="" />
  <label for="Title">Title</label>
  <input type="text" id="Title" name="Title" value="" />
  <input type="submit" class="button" value="Submit">
</form>
